@model ProjetoJogos.Models.Jogo

<h1>Novo Jogo</h1>

<form asp-action="Create">

    <div>
        <label>Nome</label>
        <input asp-for="Nome" />
    </div>

    <div>
        <label>Ano</label>
        <input asp-for="AnoLancamento" />
    </div>

    <div>
        <label>Plataformas</label>

        <select name="plataformasSelecionadas" multiple>
            @foreach (var plataforma in ViewBag.Plataformas)
            {
                <option value="@plataforma.Value">
                    @plataforma.Text
                </option>
            }
        </select>
    </div>

    <button type="submit">
        Salvar
    </button>

</form>